.template-product .shopify-section--main-product .product-gallery__thumbnail-list {
  display: none;
}
.template-product .shopify-section--main-product .product-info {
  flex: 1;
  padding-bottom: 0;
  min-height: calc(100vh - 109px);
}
.template-product .shopify-section--main-product .product-info__block-list {
  margin: 0 auto;  
  width: 100%;
}

@media (max-width: 1000px) {
  .template-product .shopify-section--main-product .product-info {
    min-height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.product-info__block-list [data-block-type="title"] + [data-block-type="description"] {
  --product-info-gap: 0;
}

.variant-picker__option-values {
}

.product-gallery__progress {
  width: 72px;
  height: 2px;
  background: rgba(255, 255, 255, .3);
  margin: 16px auto 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: none;
}

.product-gallery__progress-bar {
  width: 0%;
  height: 100%;
  background: white;
  transition: width .25s ease;
}

@media(max-width:1000px){
  .product-gallery__progress {
    display: block;
  }
  .product-gallery {
    margin-top: 54px;
  }
  .product-gallery__carousel .product-gallery__media.snap-center {
    width: 100%;
    position: relative;
  }
  .product-gallery__carousel .product-gallery__media.snap-center::before {
    content: '';
    width: 100%;
    padding-bottom: 100%;
    display: block;
  }
  .product-gallery__carousel .product-gallery__media.snap-center img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
 .product-gallery__carousel.full-bleed {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media (min-width: 1000px) {
  .product-gallery {
    position: sticky;
    top: 80px;
  }
}

section .section-reviews {
  background-image: url(https://cdn.shopify.com/s/files/1/0948/7073/3145/files/reviews-mobile.jpg?v=1789991045);
}

section .section-reviews .jm-review-widget {
  padding-top: 0;
}

section .section-reviews .jm-cluster {
  --cluster-space: 24px !important;
}

section .section-reviews .jm-cluster > .jm-stack:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .section-reviews .jm-button--secondary,
section .section-reviews .jdgm-sort-dropdown {
  --jm-widget-border-radius: 0px;
  --jm-review-widget-text-color: white;
}

section .section-reviews .jm-filters__buttons,
section .section-reviews .jm-average-rating-display {
  --cluster-space: 8px !important;
}

section .section-reviews .jm-cluster > .jm-stack:first-child *,
section .section-reviews .jm-review-item *,
section .section-reviews .jm-star-rating__font-icon {
  color: white !important;
}

section .section-reviews .jm-review-widget__header-and-body {
  gap: 32px;
}

section .section-reviews .jm-carousel__viewport::before,
section .section-reviews .jm-carousel__viewport::after {
  display: none;
}

section .section-reviews .jdgm-carousel-review-list {
  background: transparent;
}

section .section-reviews .jm-review-item {
  box-shadow: none;
  border: 0;
  border-radius: 0px;
  background: transparent;
}

section .section-reviews .jm-review-item > .jm-stack {
  padding: 0;
}

section .section-reviews .jdgm-carousel-review-list {
  margin-left: -24px;
  margin-right: -24px;
}

section .section-reviews .jm-average-rating-display .jm-text:last-child {
    font-family: CormorantGaramond Regular;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .12em;
    text-transform: uppercase;
    font-weight: 700;
}